
<%- include('partials/header') %>
<link rel="stylesheet" href="/css/hero.css" />
<link rel="stylesheet" href="/css/card.css" />
<div>
  <div class="content hero">
    <h1>Mentorship for Everyone!</h1>
    <h2>Tutoring | Language Help | Advising | Community Service | Awareness, </h2>
    <a href="/tutoring" class="button">Receive Tutoring</a>
  </div>
  <div class="statistics" style="background-color: #c3e5ff;">
    <div class="cardContainer" style="font-size: 1rem;">
    <%- include('partials/card', {
    topText: 'ELL* and Low-Income students are',
    number: '50%',
    bottomText: 'less likely to take advanced math courses in high school compared nationally',
    variant: 'blue-card',
    link: {
      url: "https://www.sciencedirect.com/science/article/abs/pii/S0361476X24000572",
      label: "Learn More",
    }
  }) %>
  <%- include('partials/card', {
    topText: 'Of Low-Income 8th graders,',
    number: '18%',
    bottomText: 'are proficient in math versus 31% nationally',
    variant: 'blue-card',
    link: {
      url: "https://www.letsgolearn.com/education-reform/poverty-impacts-educational-outcomes/",
      label: "Learn More",
    }
  }) %>
  <%- include('partials/card', {
    topText: 'Of ELL* 8th graders,',
    number: '5%',
    bottomText: 'are proficient in Reading versus 33% nationally',
    variant: 'blue-card',
    link: {
      url: "https://www.edweek.org/teaching-learning/nations-report-card-how-ells-fared-in-2011/2011/11?",
      label: "Learn More",
    }
  }) %>
  </div>
  </div>
  <div class="content" style="background-color: #c3e5ff; padding: 0 0 5rem 0;">
    <p>* "ELL" means "English language learner" -- students who are still learning English</p>
  </div>
  <div class="content" style="background-color: #fff0db; color: #8b4102">
    <%- include ('partials/contentcard', {
      topText: null,
      centerText: 'What do we do?',
      bottomText: null,
      color: 'f2e4d1'
    }) %>
  </div>
</body>
    <%- include('partials/footer') %>
</html>
